body {
    font-size: 15pt;
}
 .h11{margin: 1px;
    font-weight: bold;}

.h22{text-align: center;
     font-weight: bold;}

.bod{border:1px solid black;
     margin:5px;}

.par {margin: 5px;
     font-size: 10px;
     padding-top:10px;
     font-weight: bold;}

.spa {margin: 5px;
     font-size: 10px;
     padding-top: 10px;}

.container{position: relative;}

.block1{display:block;
        position:absolute;
}

.block2{position: absolute;
        display:block;
        left:50%;
        top:0%;
}

